@use "./variables" as *;
@use "./mixin" as *;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* Rules for sizing the icon. */
.material-icons-outlined.md-18 {
  font-size: 18px;
}
.material-icons-outlined.md-24 {
  font-size: 24px;
}
.material-icons-outlined.md-36 {
  font-size: 36px;
}
.material-icons-outlined.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons-outlined.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons-outlined.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons-outlined.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons-outlined.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: "Poppins", sans-serif;
  line-height: 1.5rem;
}

body {
  // background-image: linear-gradient(120deg, #ffafbd, #ffc3a0);
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

img {
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $text-color;
  transition: color 0.3s ease;

  &:hover {
    color: #888;
  }
}

ul {
  list-style-type: none;
}

button {
  outline: none;
  border: none;
}

input {
  outline: none;
  border: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 $padding36;

  @include tablet {
    max-width: 800px;
    padding: 0 $padding24;
  }

  @include mobile {
    max-width: 600;
    padding: 0 $padding24;
  }
}

.card {
  background: $white;
  box-shadow: $boxShadow;
  width: 100%;
  position: relative;
  border-radius: 8px;
  padding: $padding36;

  @include tablet {
    padding: $padding24;
  }

  @include mobile {
    padding: $padding24;
  }
}
